.paperStyle {
    backgroundColor: '#214565',
    height: '100vh'
}

.paperStyle2 {
    
    height: 100%,
    width: 280,
    margin: '20px auto',
    padding: 20
}

.paperStyle3 {
    backgroundColor: '#214565',
    height: '100vh',
    width: '35vw'
}

.paperStyle4 {
    height: '100vh'
}

.btnstyle {
    margin:'8px 0',
    width: 280,
    margin: '20px auto'
}